<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentclubsmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AndroidDrawableActivity" />
        <activity android:name=".activity.Newactivity" />
        <activity android:name=".activity.ClubAccessActivity" />
        <activity android:name=".activity.ClubCreationActivity" />
        <activity android:name=".activity.ClubQueryActivity" />
        <activity android:name=".activity.ClubListActivity" />
        <activity android:name=".activity.MemberAdditionActivity" />
        <activity android:name=".activity.MemberDeletionActivity" />
        <activity android:name=".activity.StaffPowerActivity" />
        <activity android:name=".activity.ClubOrganizationActivity" />
        <activity android:name=".activity.MessagePushActivity" />
        <activity android:name=".activity.ActivityRequestActivity" />
        <activity android:name=".activity.ConferenceOrganizingActivity" />
        <activity android:name=".activity.MessageWallActivity" />
        <activity android:name=".activity.ClubInfoActivity" />
        <activity android:name=".activity.TestDataAPIActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.LauncherActivity" />
        <activity android:name=".activity.RegistertActivity" />
        <activity android:name=".activity.TestUploadImgActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.studentclubsmanagement.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.UserRequestActivity" />
        <activity android:name=".activity.TestFloatingActionButtonActivity" />
        <activity android:name=".activity.NoticeListActivity" />
        <activity android:name=".activity.NoticeActivity"></activity>
    </application>

</manifest>